<div class="container menu" style="margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;width: 100%;">
    
        <div class="panel-group" id="accordion">
        <div class="panel-heading">
            <h2 class="panel-title">Espace gestionnaire</h2>
        </div>
            <div class="panel panel-default">
                <div class="panel-heading {{url_gest_commandes}}">
                    <h4 class="panel-title">
                        <a routerLink="/gestionnaire/commandes"><span class="fa fa-list-alt">
                        </span> Commandes</a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading {{url_gest_add_deal}}">
                    <h4 class="panel-title">
                        <a routerLink="/gestionnaire/deals/add"><span class="glyphicon glyphicon-plus-sign">
                        </span> Ajouter deal</a>
                    </h4>
                </div>    
            </div>
        
        </div>

</div>