.span3 {
  height: 150px;
  width: 200px;
  position:relative;
}
 
.thumbnail {
  width:100%;
  height:100%;

  /*position:absolute;*/
  bottom:0px;
}

.containebtnplus {

  
  /*position:absolute;*/
  bottom:0px;
}
.btnplus {

    background-image: url("../../../assets/img/btn_add.png");

}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.btnclose {
      width:40px;
  height:40px;
  
  position:absolute;
  right:10px;
  top:10px;
}



.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
     height: 100%;
    width: 100%;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}