
<div class="col-md-12 clear" style="margin:1%;"> 
<div id="list-type" class="proerty-th">
 <div class="box-two proerty-item">
<ul class="heroes">
  <li *ngFor="let hero of _slide"
    [class.selected]="hero === selectedHero"
    >
    <span class="badge">
      <img src="assets/img/demo/property-3.jpg" style="width: 50pt">
</span>
ID:
      {{hero.id}} Titre du Slide :
       {{hero.titre}}
    
       Etat Slide :
       {{hero.etat}} 
        
                        <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.location.href='login'" data-wow-delay="0.4s">Supprimer</button>
                    
                   

  </li>
  <input type="file" #fileInput placeholder="Upload file..." />
<button type="button" (click)="upload()">Upload Slide</button>

</ul>

 </div>

</div>
</div>



<p>Remove icon as a link:
        <a href="#">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </p>











<div class="col-xs-4">
  <div class="row">
    <div class="span12">
      <div class="containebtnplus ">
        <div class="thumbnail" style="width:200px;height:150px;">
          <input type="file" id="file" name="file" class="btnplus"/>
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-8">
  <div class="row">     
    <div class="span12">
      <div class="well"> 
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row-fluid"  >
                <div class="span3" *ngFor="let image of slides;let i=index">
                  <div class="thumbnail" >
                    <img src="{{image.imagePath}}" alt="Image" style="width:100%;height:100%;" />
                    <img src="assets/img/close.png" alt="Image" (click)="deleteImageFromSlide(i)" class="btnclose" />
                  </div>
                </div>
              </div>
            </div>
          </div><!--/carousel-inner-->
        </div><!--/myCarousel-->
      </div>  
    </div>
  </div>
</div>









<div class="col-xs-4">
  <div class="row">
    <div class="span12">
      <div class="containebtnplus ">
        <div class="thumbnail" style="width:200px;height:150px;">
          <input type="file" id="file" name="file" class="btnplus"/>
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-8">
  <div class="row">     
    <div class="span12">
      <div class="well"> 
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row-fluid"  >
                <div class="span3" *ngFor="let image of slides;let i=index">
                  <div class="thumbnail" >
                    <img src="{{image.imagePath}}" alt="Image" style="width:100%;height:100%;" />
                    <img src="assets/img/close.png" alt="Image" (click)="deleteImageFromSlide(i)" class="btnclose" />
                  </div>
                </div>
              </div>
            </div>
          </div><!--/carousel-inner-->
        </div><!--/myCarousel-->
      </div>  
    </div>
  </div>
</div>

