<div class="container" style="margin-left:0px;margin-right:0px;margin-top:0px;width: 100%; padding-left:0px;padding-right:0px;">
  <div class="row"  style="margin-left:0px;margin-right:0px;" >
     <div class="col-md-2 col-sm-offset-0" >
      <app-menu-admin></app-menu-admin> 
   </div>

  <div class="col-md-10" style="padding-left:0px; background-color : #FCFCFC;" >
 <div class="panel panel-default panel-table" style="background-color: #FCFCFC;">
      
      <div class="panel-body">
  <div class="panel panel-primary filterable" >
    
    <div class="panel-heading">
      <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-search"></span></button>
                </div>


            </div>






          <table class="table table-striped table-bordered table-list">
            <thead>
              
              <tr class="table-head" >
             <th></th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adress</th>
            <th>Nom d'utilisateur</th>
             <th>Email</th>
             <th>Tel.1</th>
              <th>Tel.2</th>
               <th>Adress de facturation</th>
            <th>Role</th>

             
        </tr>
    </thead>
          <tr *ngFor="let client of list_users" routerLink="/client/{{client.id}}">
              <td><img    class="thumbnail"    src="{{client.image.data.imgLink}}" alt="{{client.firstName}} {{client.lastName}}"  style="width: 100px;background-size: 100% 100%;"  ></td>
                <td> {{client.firstName}}</td>
                <td> {{client.lastName}}</td>
                <td>{{client.adress}}</td>
                <td> {{client.username}}</td>
                <td>{{client.email}}</td>
                <td> {{client.tel1}}</td>
                <td>{{client.tel2}}</td>
                <td>{{client.deliveryAdress}}</td>
                  <td>{{client.role}}</td>
                 
               
                  
            </tr>
           </tbody>
          </table>


  </div>






      </div>
      <div class="panel-footer" style="background-color: #FCFCFC;">
          <div class="row">
            <div class="col col-xs-4">Page 1 of 5
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



             
              
    