<div class="container" style="margin-left:0px;padding-left:0px;padding-right:20px; width:100%;" >
    <app-menu-admin></app-menu-admin>

    <div class="row col-md-9 custyle">
<h1>Print commande....</h1>
    

<div class="col-md-12 clear" style="margin:1%;"> 
<div id="list-type" class="proerty-th">
 <div class="box-two proerty-item">
<ul class="heroes">
  <li *ngFor="let hero of _slide"
    [class.selected]="hero === selectedHero"
    >
    <span class="badge">
      <img src="assets/img/demo/property-3.jpg" style="width: 50pt">
      
</span>
ID:
      {{hero.id}} Titre du Slide :
       {{hero.titre}}
    
       Etat Slide :
       {{hero.etat}} 
        
                      <a href="#">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
                    
                   

  </li>
  
  <input type="file" #fileInput placeholder="Upload file..." />
<button type="button" (click)="upload()">Upload Slide</button>

</ul>

 </div>

</div>
</div>


</div>
</div>

