
        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Location résidence </h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div >&nbsp;
            <div class="container">   

                <div class="clearfix padding-top-40" style="color: black"  >
<h3 style="color: black " style="border-bottom: 1px solid #6d6e71" >Vente LIMITÉE : Accès piscine pour 2 adultes et 2 enfants à l'hôtel Azur Plaza à partir de 19 DT Seulement </h3>
                    <div class="col-md-8 single-property-content prp-style-2">
                        <div class="">
                            <div class="row">
                                <div >            
                                    <div >
                                        <div class="favorite-and-print">
                                            <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                                <i class="fa fa-star-o"></i>
                                            </a>
                                            <a class="printer-icon " href="javascript:window.print()">
                                                <i class="fa fa-print"></i> 
                                            </a>
                                        </div> 

                                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                            <li data-thumb="assets/img/property-1/property1.jpg"> 
                                                <img src="assets/img/property-1/property1.jpg" />
                                            </li>
                                            <li data-thumb="assets/img/property-1/property2.jpg"> 
                                                <img src="assets/img/property-1/property2.jpg" />
                                            </li>
                                            <li data-thumb="assets/img/property-1/property3.jpg"> 
                                                <img src="assets/img/property-1/property3.jpg" />
                                            </li>
                                            <li data-thumb="assets/img/property-1/property4.jpg"> 
                                                <img src="assets/img/property-1/property4.jpg" />
                                            </li>                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-property-wrapper">

                                <div class="section">
                                    <h4 class="s-property-title" style="margin-top: -9px;" >Description</h4>
                                    <div class="s-property-content" >
                                        Qui dit été dit beach bar, baignade et bain de soleil !

L’Hôtel Azur Plaza vous invite à découvrir un service d'excellence et à profiter d’une journée de folie entre amis ou en famille dans une ambiance purement estivale.
                                      <!-- {{deal.description}} -->
                                    </div>
                                </div>
                                <!-- End description area  -->

                                

                                <div class="section property-video"> 
                                    <h4 class="s-property-title"  >Emplacement du deal</h4> 
                                    <div id="map"></div>
                                </div>
                                <!-- End video area  -->

                                <div class="section property-share"> 
                                    <h4 class="s-property-title">Partagez avec vos amis </h4> 
                                    <div class="roperty-social">
                                        <ul> 
                                            <li><a title="Share this on dribbble " href="#"><img src="assets/img/social_big/dribbble_grey.png"></a></li>                                         
                                            <li><a title="Share this on facebok " href="#"><img src="assets/img/social_big/facebook_grey.png"></a></li> 
                                            <li><a title="Share this on delicious " href="#"><img src="assets/img/social_big/delicious_grey.png"></a></li> 
                                            <li><a title="Share this on tumblr " href="#"><img src="assets/img/social_big/tumblr_grey.png"></a></li> 
                                            <li><a title="Share this on digg " href="#"><img src="assets/img/social_big/digg_grey.png"></a></li> 
                                            <li><a title="Share this on twitter " href="#"><img src="assets/img/social_big/twitter_grey.png"></a></li> 
                                            <li><a title="Share this on linkedin " href="#"><img src="assets/img/social_big/linkedin_grey.png"></a></li>                                        
                                        </ul>
                                    </div>
                                </div>
                                <!-- End video area  -->
                            </div>
                        </div>

                               </div>

                    <div class="col-md-4 p0">
                        <aside class="sidebar sidebar-property blog-asside-right property-style2" style="padding: 15px 25px 25px;background-color: #FCFCFC">
                            <div >
                                <div >
                                    <div >
                                        <div class="single-property-header">                                          
                                            <h1 class="property-title" style="color :black" style="border-bottom: 1px solid #6d6e71" >{{deal.title}}</h1>
                                            <span class="property-price" style="color:blue"  style="border-bottom: 1px solid #6d6e71" style="font-size: 43px;">{{deal.price}}DT</span>
                                        </div>

                                        <div >   

                                            <div class="col-xs-12 col-sm-8 col-md-12">
                                               <a class="col-xs-12 col-sm-8 col-md-12" routerLink="/admin/deal/add"><button type="button" class="btn btn-lg btn-primary btn-create col-md-12" style="border-radius: 23px;">Acheter</button></a>
                                            </div>

                                          
                                            <div class="row details"><div class="col-md-4 col-sm-4 col-xs-4 valeur"><p class="dark-gray ">Valeur</p><strong class="dark-gray ">40
                                          <sup>DT</sup></strong></div><div class="col-md-4 col-sm-4 col-xs-4 remise"><p class="dark-gray ">Remise</p><strong class="dark-gray bold">53
                                          %</strong></div><div class="col-md-4 col-sm-4 col-xs-4 economie"><p class="dark-gray ">économie</p><strong class="dark-gray bold">21
                                          <sup>DT</sup></strong></div></div>
                                           
                                           

                                           

                                          


                                        </div>
                                        <div  style="color:#FCFCFC">
                                           
                                        </div>
                                        <div class="clear">
                                            <div class="col-xs-4 col-sm-4 dealer-face">
                                                <a href="">
                                                    
                                                </a>
                                            </div>
                                           
                                        </div>

                                        <div class="clear">
                                            <ul class="dealer-contacts">                                       
                                                <li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
                                                <li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
                                                <li><i class="pe-7s-call strong"> </i> +1 908 967 5906</li>
                                            </ul>
                                            <p>OFFRE 1 : Accès piscine pour 2 adultes et 1 enfant à 19 DT au lieu de 40 DT 

- Accès à la piscine pour 2 adultes et un enfant ayant moins de 12 ans

- 15% de réduction sur les consommations au snack barbecue (à coté de la piscine)</p>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            
                        </aside>
                    </div>

                </div>

            </div>
        </div>   