<div class="container menu" style="margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;width: 100%;">

    <div class="panel-group" id="accordion">
     <div class="panel-heading">
        <h2 class="panel-title">Espace client</h2>
    </div>
        <div class="panel panel-default">
            <div class="panel-heading {{url_client_profil}}">
                <h4 class="panel-title">
                    <a href="client/profil"><span class="glyphicon  glyphicon-user">
                    </span> Mon profil</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading {{url_client_commandes}}">
                <h4 class="panel-title">
                    <a routerLink="/client/commandes"><span class="glyphicon glyphicon-list-alt">
                    </span> Mes commandes</a>
                </h4>
            </div>    
        </div>
        <div class="panel panel-default">
            <div class="panel-heading {{url_client_panier}}">
                <h4 class="panel-title">
                 
                    <a  routerLink="/client/panier"><span class="fa fa-shopping-cart">
                    </span> Mon panier</a>
                </h4>
            </div> 
        </div>
          <div class="panel panel-default">
            <div class="panel-heading {{url_client_coupon}}">
                <h4 class="panel-title">
                 
                    <a  routerLink="/client/coupons"><span class="glyphicon glyphicon-gift">
                    </span> Coupons</a>
                </h4>
            </div> 
        </div>
    </div>
</div>