<div class="container" style="margin-left:0px;padding-left:0px;padding-right:20px; width:100%;" >
    <app-menu-admin></app-menu-admin>

    <div class="row col-md-9 custyle">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class=" col-md-9 ">
    	 <div class="well profile col-lg-offset-3">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{user.firstName}} {{user.lastName}}</h2>
                    <p><strong>Adresse: </strong> {{user.adress}} </p>
                    <p><strong>Nom d'utilisateur: </strong> {{user.username}}</p>
                    <p><strong>Email: </strong> {{user.email}} </p>
                    <p><strong>Tel2: </strong> {{user.tel1}}</p>
                    <p><strong>Tel1: </strong> {{user.tel2}} </p>
                    <p><strong>Adresse de livraison: </strong> {{user.deliveryAdress}}</p>
                    <p><strong>Role: </strong> {{user.role}}</p>
                </div>             
                
            </div>            
            <div class="col-xs-6  text-center">
                
               
                    <button class="btn btn-danger btn-block"><span class="fa fa-user"></span> Supprimer </button>
                
                
            </div>
    	 </div>                 
		</div>
	</div>
</div>
    </div>
</div>