<div class="container menu" style="margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;width: 100%;">
    
        <div class="panel-group" id="accordion">
        <div class="panel-heading">
            <h2 class="panel-title">Espace Admin</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading {{url_admin_deals}}">
                <h4 class="panel-title">
                   <a routerLink="/admin/deals"><span class="glyphicon glyphicon-fire">
                    </span> Deals</a>
                </h4>
            </div>
        </div>
       
        <div class="panel panel-default">
            <div class="panel-heading {{url_admin_clients}}">
                <h4 class="panel-title">
                 
                   <a routerLink="/admin/clients"><span class="fa fa-users">
                    </span> Clients</a>
                </h4>
            </div> 
        </div>
        
         <div class="panel panel-default">
            <div class="panel-heading {{url_admin_commandes}}">
                <h4 class="panel-title">
                 
                    <a  href="admin/commandes"><span class="fa fa-list-alt">
                    </span> Commandes</a>
                </h4>
            </div> 
        </div>

    </div>
</div>