<div class="container" style="margin-left:0px;padding-left:0px;padding-right:20px; width:100%;" >
    <app-menu-admin></app-menu-admin>

    <div class="row col-md-9 custyle">
<h1>Print commande....</h1>
    </div>
</div>