<div class="container" style="margin-left:0px;margin-right:0px;margin-top:0px;width: 100%; padding-left:0px;padding-right:0px;">
  <div class="row"  style="margin-left:0px;margin-right:0px;" >
     <div class="col-md-2 col-sm-offset-0" >
      <app-menu-client></app-menu-client> 
   </div>

  <div class="col-md-10" style="padding-left:0px; background-color : #FCFCFC;" >
    
   
 
    <div class="panel panel-default panel-table" style="background-color: #FCFCFC;">
      
      <div class="panel-body">
  <div class="panel panel-primary filterable" >
    
    <div class="panel-heading">
      <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-search"></span></button>
                </div>


            </div>






          <table class="table table-striped table-bordered table-list">
            <thead>
               <tr class="filters" >
                        
                        <th><input type="text" class="form-control" placeholder="ID" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Date cmd" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Code client" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Adress" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Total" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Mode de paiement" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Etat de paiement" disabled></th>
                    </tr>
              <tr class="table-head" >
                  
                  <th class="hidden-xs">ID</th>
                  
                  <th>Date cmd</th>
                  <th>Code client</th>
                  <th>Adress</th>
                  <th>Total</th>
                  <th>Mode de paiement</th>
                  <th>Etat de paiement</th>
                  <th><em class="fa fa-cog"></em></th>
              </tr> 
            </thead>
            <tbody>
                   <tr *ngFor="let command of list_commands" routerLink="/client/command/{{command.id}}">
                <td>{{command.id}}</td>
                <td>{{command.dateCmd}}</td>
                <td>{{command.user_id}}</td>
                <td>{{command.user.deliveryAdress}}</td>
                <td>{{command.sum}}</td>
                <td>{{command.paiementMode}}</td>
                <td>{{command.status}}</td>
                
                <td class="text-center"><a class='fa fa-print' href="#"></a></td>
            </tr>
                  </tbody>
          </table>


  </div>






      </div>
      <div class="panel-footer" style="background-color: #FCFCFC;">
          <div class="row">
            <div class="col col-xs-4">Page 1 of 5
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



             
              