<div class="container" style="margin-left:0px;margin-right:0px;margin-top:0px;width: 100%; padding-left:0px;padding-right:0px;">
  <div class="row"  style="margin-left:0px;margin-right:0px;" >
     <div class="col-md-2 col-sm-offset-0" >
      <app-menu-client></app-menu-client> 
   </div>

  <div class="col-md-10" style="padding-left:0px;padding-right:0px; background-color : #FCFCFC;" >

    <div class="row col-md-12 custyle">
    



  

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Hello : <span class="orange strong">{{user.firstName}} {{user.lastName}}</span></h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header --> 

        <!-- property area col-sm-offset-1 -->
        <div class="content-area user-profiel " style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   
                <div class="row">
                    <div class="col-sm-12  profiel-container">

                        <form action="" method="">
                         

                            <div class="clear">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="picture-container">
                                        <div class="picture">
                                            <img src="{{user.image.data.imgLink}}" class="picture-src" id="wizardPicturePreview" title=""/>
                                            <input type="file" id="wizard-picture">
                                        </div>
                                        <h6>Choose Picture</h6>
                                    </div>
                                </div>

                                <div class="col-sm-3 padding-top-25">

                                    <div class="form-group">
                                        <label>First Name <small>(required)</small></label>
                                        <input name="firstname" type="text" class="form-control" placeholder="Andrew..." value="{{user.firstName}}" >
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name <small>(required)</small></label>
                                        <input name="lastname" type="text" class="form-control" placeholder="Smith..." value="{{user.lastName}}" >
                                    </div> 
                                    <div class="form-group">
                                        <label>Email <small>(required)</small></label>
                                        <input name="email" type="email" class="form-control" placeholder="andrew@email@email.com.com" value="{{user.email}}" >
                                    </div> 
                                    <div class="form-group">
                                        <label>Phone 1 :</label>
                                        <input name="FAX" type="text" class="form-control" placeholder="+1 9090909090"  value="{{user.tel1}}" >
                                    </div>
                                </div>
                                <div class="col-sm-3 padding-top-25">
                                    <div class="form-group">
                                        <label>Password <small>(required)</small></label>
                                        <input name="Password" type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm password : <small>(required)</small></label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Username </label>
                                        <input name="email" type="email" class="form-control" placeholder="username" value="{{user.username}}" >
                                    </div>
                                     <div class="form-group">
                                        <label>Phone 2 :</label>
                                        <input name="Phone" type="text" class="form-control" placeholder="+1 9090909090" value="{{user.tel2}}">
                                    </div>
                                </div>  
                                
                                </div>

                            <div class="clear">
                                <div class="col-sm-6 padding-top-25  col-sm-offset-4  ">
                               
                                    <div class="form-group">
                                        <label>Adress :</label>
                                        <textarea rows="4"  style="resize:none; overflow:hidden" name="Facebook" type="text" class="form-control" placeholder="https://facebook.com/user" value="{{user.adress}}"></textarea>
                                    </div>
                                    
                                </div>

                             
                            </div>
                    
                            <div class="col-sm-5 col-sm-offset-8">
                                <br>
                                <input type='button' class='btn btn-finish btn-primary' name='finish' value='Enregistrer' />
                            </div>
                            <br>
                    </form>

                </div>
            </div><!-- end row -->

        </div>
    </div>


    </div>
</div></div></div>