<div class="b-page" canvas="container">
<app-navbar></app-navbar>


  <section class="container-fluid section-home home-2">

    <router-outlet (deactivate)="onDeactivate()"></router-outlet>

  </section>
<hr>
  <app-footer></app-footer>


</div>
