  <!-- register-area -->

            <div class="container" style="width: 500px;padding: 0px;">
                <div class="col-md-12" style="padding: 0px;">
                    <div class="box-for overflow">                         
                        <div class="col-md-12 col-xs-12 login-blocks">
                            <h2>Login : </h2> 
                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="email" >Email</label>
                                    
                                   
                                     <input  type="text" name="propertyemail" class="form-control" required [(ngModel)]="loginInput" > 
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                  
                                     <input  type="password" name="propertypassword" class="form-control" required [(ngModel)]="passwordInput" > 
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-default"  (click)="login()" > Log in</button>
                                </div>
                            </form>
                            <br>
                            
                          
                        </div>
                        
                    </div>
                </div>

            </div>
           
    