<div class="container" style="margin-left:0px;margin-right:0px;margin-top:0px;width: 100%; padding-left:0px;padding-right:0px;">
  <div class="row"  style="margin-left:0px;margin-right:0px;" >
     <div class="col-md-2 col-sm-offset-0" >
      <app-menu-admin></app-menu-admin> 
   </div>

  <div class="col-md-10" style="padding-left:0px; background-color : #FCFCFC;" >
<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="clearfix" > 
                    <div class="wizard-container"> 

                        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                            <form action="" method="">                        
                              

                                

                              

                                    <div class="tab-pane" >
                                        <div class="row p-b-15  ">
                                            <h4 class="info-text" style="text-align: center;"> Créer deal</h4>
                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview" title=""/>
                                                      

                                                        <label>Upload Image</label> 
                                                                 <input type="file" name="file" ngModel (change)="getFiles($event)" class="picture-src" > 

                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Titre</label>
                                                      <input #textbox type="text" name="propertytitle" class="form-control"  required>   
                                                </div>

                                                <div class="form-group">
                                                    <label>Description </label>
                                                     <input #textbox type="text" name="propertydescription" class="form-control"  required>
                                                   
                                                </div> 

                                                <div class="form-group">
                                                    <label>Prix </label>
                                                    <textarea name="content" id="editor" #editor></textarea>
                                                    
                                                   
                                                </div>

                                                  <div class="form-group">
                                                    <label>Nom </label>
                                                     <input #textbox type="text" name="propertyname" class="form-control"   required> 
                                                    
                                                </div>

                                                <div class="form-group">
                                                    <label>Nombre d'achat réelle</label>
                                                     <input #textbox type="text" name="propertynbPurshaseR" class="form-control"   required> 
                                                   
                                                </div>

                                                <div class="form-group">
                                                    <label>Nombre d'achat </label>
                                                      <input #textbox type="text" name="propertynbPurshase" class="form-control"   required>
                                                    
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label>Date de realisation </label>
                                                     <input #textbox type="text" name="propertyreleaseDate" class="form-control"   required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Date d'expiration </label>
                                                      <input #textbox type="text" name="propertyexpiredDate" class="form-control"   required>
                                                   
                                                </div>

                                                    <div class="form-group">
                                                    <label>Statut</label>
                                                    

                                                <select id="basic" class="selectpicker show-tick form-control">
                                                    <option >  </option>
                                                    <option value="Encours">en cours </option>
                                                    <option value="Encours">terminé</option>
                                                    <option value="Encours">brouillon</option>  
                                                    <option value="Encours">desactiver</option>                  
                                                </select>
                                        
                                                </div>
                                                <div class="form-group">
                                                    <label> Categorie </label>
                                                    <select id="basic" class="selectpicker show-tick form-control">
                                                    <option> </option>
                                                    <option value="1">Rent </option>
                                                    <option value="2">Boy</option>
                                                    <option value="3">used</option>  

                                                </select>
                                         
                                                   
                                                </div>
                                                  
                                                      <button (click)="logText(textarea.value)" class='btn btn-finish btn-primary '>Finish</button>
                                                
                                          </div>
                                        </div>
                                       
                                    </div>
                                    <!--  End step 1 -->

                                   
                               

                        
                    
                                

                                  
                                
                            </form>
                        </div>
                        <!-- End submit form -->
                    </div> 
                </div>
            </div>
        </div>
    </div>
  </div></div>

  <script src="assets/js/ckeditor.js"></script>
    <script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>