<div class="container" style="margin-left:0px;margin-right:0px;margin-top:0px;width: 100%; padding-left:0px;padding-right:0px;">
  <div class="row"  style="margin-left:0px;margin-right:0px;" >
     <div class="col-md-2 col-sm-offset-0" >
      <app-menu-admin></app-menu-admin> 
   </div>

  <div class="col-md-10" style="padding-left:0px; background-color : #FCFCFC;" >
    
   
 
    <div class="panel panel-default panel-table" style="background-color: #FCFCFC;">
      
      <div class="panel-body">
  <div class="panel panel-primary filterable" >
    
    <div class="panel-heading">
      <a routerLink="/admin/deal/add"><button type="button" class="btn btn-sm btn-primary btn-create">Create New</button></a>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"  ><span class="glyphicon glyphicon-search"></span></button>
                </div>


            </div>






          <table class="table table-striped table-bordered table-list">
            <thead>
               
                   
          
              <tr class="table-head" >
                  
                 
                  
                  <th></th>
                  <th>Titre</th>
                  <th>Description</th>
                  <th>Prix</th>
                  <th>Nbr. achat</th>
                  <th>Nbr. achat réel</th>
                  <th>Date de réalisation</th>
                  <th>Date d'expiration</th>
                  <th>Status</th>
                  <th>Categorie</th>
                  
              </tr> 
            </thead>
            <tbody>
             
                    <tr *ngFor="let deal of list_deals" routerLink="/deal/{{deal.id}}">
                        <td>
                            <img   class="thumbnail"   src="{{deal.image.data.imgLink}}" alt="zeeeee"  style="width: 200px;background-size: 100% 100%;" >
                        </td>
                        <td> {{deal.title}}</td>
                        <td>
                            <div class="ellipsify">
                                <div class="pre-dots"></div>
                                <div class="dots">&hellip;</div>
                                    {{deal.description}}
                                <span class="hidedots1"></span>
                                <div class="hidedots2"></div>
                            </div>
                        </td>
                        <td>{{deal.price}}.dt</td>
                        <td>{{deal.nbPurshase}}</td>
                        <td>{{deal.nbPurshaseR}}</td>
                        <td>{{deal.releaseDate}}</td>
                        <td>{{deal.expiredDate}}</td>
                        <td>{{deal.status}}</td>
                        <td>{{deal.category.data.name}}</td>
                       
                    </tr>
              
              </tbody>
          </table>


  </div>






      </div>
      <div class="panel-footer" style="background-color: #FCFCFC;">
          <div class="row">
            <div class="col col-xs-4">Page 1 of 5
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                  <li><a href="#">«</a></li>
                  <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



             
              