
<header class="header navbar-fixed-top " >
   <div class="top-bar">
        <div class="header-connect">
            <div class="container" >
                <div class="row">
                    <div class="col-md-5 col-sm-8  col-xs-12">
                        <div class="header-half header-call">
                            <p>
                                <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                                <span><i class="pe-7s-mail"></i> your@company.com</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                        <div class="header-half header-social">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-vine"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
</div>
              
        <!--End top header -->



        <nav class="navbar navbar-default " style="height: 70px;" >
            <div class="container" style="width:96% !important; margin-right: 2%; margin-left: 2%; ">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="chariot"  style="height: 90px;">
                    <a class="navbar-brand" href="index.html"><img src="assets/img/chariot-final.png" style="height: 63px"></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse yamm" id="navigation" style="text-align:center;">
                    

                      
















                         <div class="nav navbar-nav navbar-right">


                             
                            <li *ngIf="!appService.isLogged()">
                                <button type="button" class="btn btn-primary" routerLink="/register">S'inscrire</button>
                            </li>
                            <li class="dropdown" *ngIf="!appService.isLogged()">
                                <button type="button" class="btn btn-primary" data-toggle="dropdown">Connecter <span class="caret"></span>
                                </button>
                                <ul id="login-dp" class="dropdown-menu" style="padding: 0px; margin-top:5px;" >
                                <li>
                                    <app-login-form></app-login-form>
                                </li>
                                </ul>
                            </li>
                            <li class="dropdown" *ngIf="appService.isLogged()">
                                <a class="dropdown-toggle pointer" data-toggle="dropdown">{{appService.user.firstName}} {{appService.user.lastName}}
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a class="pointer" (click)="appService.logOut()">Déconnexion</a></li>
                                </ul>
                            </li>
                      




                            
                           
                        
                    
                    </div>
                         
                    <ul class="main-nav nav navbar-nav" style=" margin-left: auto; margin-right: auto;">
<li class="dropdown" data-wow-delay="0.1s">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Mon Espace <b class="caret"></b></a>
                            <ul class="dropdown-menu" style="right: auto !important;">
                                <li >
                                    <div class="yamm-content"  >
                                        <div class="row">
                                           <div class="col-sm-3">
                                                <ul>
                                                    
                                                    <li><a routerLink="/client/coupons">Espace_Client</a>  </li>
                                                    <li><a routerLink="/admin/deals">Espace_Administrateur</a>  </li>
                                                    <li><a routerLink="/gestionnaire/commandes">Espace_Gestioonnaire</a>  </li>
                                                </ul>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <!-- /.yamm-content -->
                                </li>
                            </ul>
                        </li>
    
 
                          <li class="wow fadeInDown" data-wow-delay="0.1s"><a routerLink="/home">Home</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a routerLink="/deals">Deals</a></li>

                          <li class="wow fadeInDown" data-wow-delay="0.1s"><a routerLink="/products">Produit</a></li>
                        <li class="wow fadeInDown" data-wow-delay="0.1s"><a routerLink="/events">Événement</a></li>
                        <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                            
                            


                            <div *ngIf="selectedCategorie">

                                 <h2>{{ selectedCategorie.name | uppercase }} Categories</h2>
                                 <div><span>id: </span>{{selectedCategorie.id}}</div>
                                 <div>
                                 <label>name:
                                  <input [(ngModel)]="selectedCategorie.name" placeholder="name">
                                </label>
    
                                 </div>

                                </div>
                            <ul class="dropdown-menu navbar-nav">
                                <li>
                                    <a href="index-2.html">Home Style 2</a>
                                </li>
                                <li>
                                    <a href="index-3.html">Home Style 3</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Home Style 4</a>
                                </li>
                                <li>
                                    <a href="index-5.html">Home Style 5</a>
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown yamm-fw" data-wow-delay="0.1s">
                           
                            <ul class="dropdown-menu">
                                <li >
                                    <div class="yamm-content"  >
                                        <div class="row">
                                            <div class="col-sm-3" >
                                                <h5>Deals</h5>
                                                <ul *ngFor="let categorie of _categories" (click)="onSelect(categorie)" [class.selected]="categorie === selectedCategorie">
                                                    <li>
                                                        {{categorie.name}}
                                                     <img src="assets/img/icon/bed.png">
                                                    </li>
                                                  
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Pages and blog</h5>
                                                <ul>
                                                    <li><a href="blog.html">Blog listing</a>  </li>
                                                    <li><a href="single.html">Blog Post (full)</a>  </li>
                                                    <li><a href="single-right.html">Blog Post (Right)</a>  </li>
                                                    <li><a href="single-left.html">Blog Post (left)</a>  </li>
                                                    <li><a href="contact.html">Contact style (1)</a> </li>
                                                    <li><a href="contact-3.html">Contact style (2)</a> </li>
                                                    <li><a href="contact_3.html">Contact style (3)</a> </li>
                                                    <li><a href="faq.html">FAQ page</a> </li> 
                                                    <li><a href="404.html">404 page</a>  </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Property</h5>
                                                <ul>
                                                    <li><a href="property-1.html">Property pages style (1)</a> </li>
                                                    <li><a href="property-2.html">Property pages style (2)</a> </li>
                                                    <li><a href="property-3.html">Property pages style (3)</a> </li>
                                                </ul>

                                                <h5>Properties list</h5>
                                                <ul>
                                                    <li><a href="properties.html">Properties list style (1)</a> </li> 
                                                    <li><a href="properties-2.html">Properties list style (2)</a> </li> 
                                                    <li><a href="properties-3.html">Properties list style (3)</a> </li> 
                                                </ul>                                               
                                            </div>
                                            <div class="col-sm-3">
                                                <h5>Property process</h5>
                                                <ul> 
                                                    <li><a href="submit-property.html">Submit - step 1</a> </li>
                                                    <li><a href="submit-property.html">Submit - step 2</a> </li>
                                                    <li><a href="submit-property.html">Submit - step 3</a> </li> 
                                                </ul>
                                                <h5>User account</h5>
                                                <ul>
                                                    <li><a href="register.html">Register / login</a>   </li>
                                                    <li><a href="user-properties.html">Your properties</a>  </li>
                                                    <li><a href="submit-property.html">Submit property</a>  </li>
                                                    <li><a href="change-password.html">Change password</a> </li>
                                                    <li><a href="user-profile.html">Your profile</a>  </li>
                                                </ul>

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.yamm-content -->
                                </li>
                                
                            </ul>
                        </li>

                        <li class="wow fadeInDown" data-wow-delay="0.4s"><a routerLink="/contact">Contact</a></li>



                        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> {{nbItem}} - produit(s)<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
              <li  *ngFor="let pr of panier" >
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>{{pr.title}}</span>
                            <span>{{pr.price}}</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
              </li>
             
            
             
              <li class="divider"></li>
              <li><a class="text-center" href="client/panier">voir panier</a></li>
          </ul>
        </li>














                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of nav bar -->

        </header>
<div style="margin-top:150px;">
</div>
