<div >
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators" style="bottom: 34px">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner"  style="height: 600px;">
    <div class="item active">
      <img src="assets/img/slide1/slider-image-1.jpg" alt="Los Angeles"  style="width: 100%;background-size: 100% 100%;">
    </div>

    <div class="item">
      <img src="assets/img/slide1/slider-image-3.jpg" alt="Chicago" style="width: 100%;background-size: 100% 100%;">
    </div>

    <div class="item">
      <img src="assets/img/slide1/slider-image-2.jpg" alt="New York" style="width: 100%;background-size: 100% 100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>








<div class="container" >

<div id="list-type" class="proerty-th">
<div class="col-sm-6 col-md-4 p0" *ngFor="let deal of _deals" (click)="onSelect(deal)" [class.selected]="deal === selectedDeal">
  <div class="box-two proerty-item">
      <div class="item-thumb">
          <a href="#/deal/5" ><img src="{{deal.image.data.imgLink}}"></a>
            
      </div>
      <div class="item-entry overflow">
         
          <div class="dot-hr"></div>
           <h5 style="white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; ">
  <a href="#/deal/5" > {{deal.title}} </a></h5>

  
 
          
      </div>

          <div class="item-entry overflow">
         
          <div class="dot-hr"></div>
           <h4 style="white-space: nowrap;
  overflow: hidden;
   ">
  <a href="#/deal/5" >Prix: {{deal.price}} DT</a></h4>

  
 
          
      </div>

         <div class="item-entry overflow">
         
          <div class="dot-hr"></div>
           <h4 style="white-space: nowrap;font-size: 80%;
  overflow: hidden;
   ">
  <a href="#/deal/5" >{{deal.description}} </a></h4>

  
 
          
      </div>
  </div>
</div> 
    </div>
</div> 
</div>