 <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
          
                     
                <div class="col-md-2 p0 padding-top-40">
                    <div class="blog-asside-right pr0">
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated" >
                            <div class="panel-heading">
                                <h3 class="panel-title">Recherche</h3>
                            </div>
                            <div class="panel-body search-widget">
                                <form action="" class=" form-inline"> 
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input type="text" class="form-control" placeholder="Key word">
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12">

                                                <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select a catégorie">

                                                    <option>Toutes les catégories</option>
                                                    <option>Téléphonie</option>
                                                    <option>Beauté & Bien-être</option>
                                                    <option>Services</option>
                                                    
                                                </select>
                                            </div>
                                            
                                        </div>
                                    </fieldset>

                                    <fieldset class="padding-5">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label for="price-range">interval de prix (dt):</label>
                                                <input type="text" class="span2" value="" data-slider-min="0" 
                                                       data-slider-max="600" data-slider-step="5" 
                                                       data-slider-value="[0,450]" id="price-range" ><br />
                                                <b class="pull-left color">20dt</b> 
                                                <b class="pull-right color">100000dt</b>                                                
                                            </div>
                                                                                       
                                        </div>
                                    </fieldset>                                

                                    

                                    

                                  

                                
                                   

                                  

                                    <fieldset >
                                        <div class="row">
                                            <div class="col-xs-12">  
                                                <input class="button btn largesearch-btn" value="Search" type="submit">
                                            </div>  
                                        </div>
                                    </fieldset>                                     
                                </form>
                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Récommender</h3>
                            </div>
                            <div class="panel-body recent-property-widget">
                                        <ul>









                                        <li *ngFor="let deal of recommanded_deals">
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                
                                                <a href="single.html"><img src="{{deal.image.data.imgLink}}"></a>
                                                <span class="property-seeker">
                                                    
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="deal/1">{{deal.title}}</a></h6>
                                                <span class="property-price">{{deal.price}}dt</span>
                                            </div>
                                        </li>











                                       

                                      

                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 clear"> 
                        <div class="col-xs-10 page-subheader sorting pl0">
                            <ul class="sort-by-list">
                                <li class="active">
                                    <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                        Trier par date <i class="fa fa-sort-amount-asc"></i>					
                                    </a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                        Trier par prix <i class="fa fa-sort-numeric-desc"></i>						
                                    </a>
                                </li>
                            </ul><!--/ .sort-by-list-->

                            <div class="items-per-page">
                                <label for="items_per_page"><b>nbr. deals par page :</b></label>
                                <div class="sel">
                                    <select id="items_per_page" name="per_page">
                                        <option value="3">3</option>
                                        <option value="6">6</option>
                                        <option value="9">9</option>
                                        <option selected="selected" value="12">12</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                    </select>
                                </div><!--/ .sel-->
                            </div><!--/ .items-per-page-->
                        </div>

                        <div class="col-xs-2 layout-switcher">
                            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                        </div><!--/ .layout-switcher-->
                    </div>

                    <div class="col-md-12 clear"> 
                        <div id="list-type" class="proerty-th" *ngFor="let deal of _deals" (click)="onSelect(deal)" [class.selected]="deal === selectedDeal">
                            <div class="col-sm-6 col-md-4 p0">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="deal/1" ><img src="{{deal.image.data.imgLink}}"></a>
                                        </div>

                                        <div class="item-entry overflow" >
                                            <h5><a href="deal/1">  </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> {{deal.title}} </b></span>
                                            <span class="proerty-price pull-right"> {{deal.price}} dt</span>
                                            <p style="display: none;"></p>
                                           
                                        </div>


                                    </div>
                                </div> 

                                
                               

                               
                               

                                

                               

                                
                               

                        </div>
                    </div>
                    
                    <div class="col-md-12"> 
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    <li><a href="#">Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>                
                    </div>
                </div>  
                </div>              
           
      
